<div class="card">
  <div class="card-body">
    <h3 class="card-title">
      <ng-content select="cardTitle"></ng-content>
    </h3>
    <ng-content></ng-content>
  </div>
  <div class="card-footer">
    <ng-content select="cardFooter"></ng-content>
  </div>
</div>

<style>
  .card-title:empty {
    display: none;
  }
</style>
