<div class="dropdown" appDropdown>
  <!-- [appDropdownTrigger]="menu" -->
  <button
    appDropdownTrigger
    class="btn btn-secondary dropdown-toggle"
    type="button"
  >
    Recent Searches
  </button>

  <!-- #menu="dropdownMenu" -->
  <ul class="dropdown-menu" appDropdownMenu #menu="dropdownMenu">
    <li>
      <a class="dropdown-item" (click)="search(query)"
       *ngFor="let query of queries">
        {{ query }}
      </a>
    </li>
  </ul>
</div>
