<app-card *ngIf="playlist | async as playlist">
  <ng-container ngProjectAs="cardTitle">
    {{ playlist.name | titlecase }}
    <hr />
  </ng-container>

  <dl
    [id]="'playlist_' + playlist.id"
    [title]="playlist.name"
    [attr.data-playlist-id]="playlist.id"
  >
    <dt>Public:</dt>
    <dd
      [ngClass]="{
        'text-danger': playlist.public,
        'text-success': !playlist.public
      }"
    >
      {{ playlist.public | yesno | titlecase }}
    </dd>

    <dt>Description:</dt>
    <dd>{{ playlist.description | slice: 0:20 }}</dd>
  </dl>

  <app-track-list *ngIf="tracks | async as tracks" [tracks]="tracks"></app-track-list>

  <ng-container ngProjectAs="cardFooter">
    <button class="btn btn-info" routerLink="../edit">Edit</button>
  </ng-container>
</app-card>
