<form
  class="mb-3"
  [formGroup]="queryForm"
  #formRef="ngForm"
  (ngSubmit)="submit()"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      formControlName="query"
      />

    <!-- [formControl]="$any(queryForm.get('query'))" -->
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
  <p (click)="extra = !extra" class="float-end">
    {{ extra ? "Hide" : "Show" }} Advanced
  </p>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.dirty || field.touched || formRef.submitted">
      <div class="text-danger" *ngIf="field.hasError('required')">
        Field is required
      </div>

      <div class="text-danger" *ngIf="field.getError('minlength') as error">
        Minimum length is {{ error.requiredLength }}
      </div>

      <div class="text-danger" *ngIf="field.getError('censor') as error">
        Name cannot contain "{{ error.badword }}"
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="extra" formGroupName="extra">
    <div class="form-group mt-3">
      <label>Type</label>
      <select class="form-control" formControlName="type">
        <option value="album">Album</option>
        <option value="artist">Artist</option>
      </select>
    </div>

    <div class="form-group mt-3">
      <div class="list-group" formArrayName="markets">
        <div
          class="list-group-item d-flex"
          *ngFor="let market of markets.controls; let i = index"
          [formGroupName]="i"
        >
          <input type="text" class="form-control" formControlName="code" />
          <span class="close flex-shrink" (click)="removeMarket(i)"
            >&times;</span
          >
        </div>

        <div class="list-group-item">
          <button
            class="float-end btn btn-default"
            (click)="addMarket()"
            type="button"
          >
            Add Market
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
