form.ng-submitted {
  input,
  select,
  textarea {
    &.ng-invalid {
      border: 2px solid red;
    }
    &.ng-valid {
      border: 2px solid green;
    }
  }
}
form {
  input,
  select,
  textarea {
    &.ng-pending {
      border: 2px solid blueviolet;
    }
  }
}

form {
  input,
  select,
  textarea {
    &.ng-dirty,
    &.ng-touched {
      &.ng-invalid {
        border: 2px solid red;
      }
      &.ng-valid {
        border: 2px solid green;
      }
    }
  }
}

// form {
//   input,
//   textarea,
//   select {
//     &.ng-dirty,
//     &.ng-touched {
//       &.ng-invalid {
//         border: 2px solid red;
//       }
//       &.ng-valid {
//         border: 2px solid green;
//       }
//     }
//   }
// }
