<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="placki active"  routerLink="/">{{title}}</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="placki active" [routerLinkActiveOptions]="{exact:true}" routerLink="/music">Music</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="placki active"  routerLink="/music">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="placki active"  routerLink="/playlists">Playlists</a>
        </li>
      </ul>
      <div class="ms-auto d-flex">
        <div class="navbar-text text-white" *ngIf="user.user | async as user">
          {{user.display_name}} | 
          <a (click)="logout()">Logout</a>
        </div>

        <app-recent-searches></app-recent-searches>
        <app-clock class="float-end text-white"></app-clock>
      </div>
    </div>
  </div>
</nav>

<!-- .container>.row>.col -->
<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
