<div class="alert alert-danger" *ngIf="message">{{message}}</div>

<div class="alert alert-info" *ngIf="loading">Loading...</div>

<ng-container *ngIf="album | async as album">
  <div class="row">
    <div class="col">
      <h2>{{album.name}}</h2>
      <small class="text-muted">{{ id | async}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-album-card [album]="album"></app-album-card>
      <dl>
        <ng-container *ngIf="album.artists[0]">
          <dt>Artist</dt>
          <dd>{{album.artists[0].name}}</dd>
        </ng-container>
        <dt>Release date</dt>
        <!-- <dd>{{album.release_date}}</dd> -->
        <dd>{{album.release_date | date : 'mediumDate'}}</dd>
        <dt>Total tracks</dt>
        <dd>{{album.total_tracks}}</dd>
      </dl>
    </div>
    <div class="col">
        <app-track-list [tracks]="album.tracks.items"></app-track-list>
    </div>
  </div>
</ng-container>
